name: streamer_tracker

services:
    # PostgreSQL Database
    streamer-db:
        image: postgres:15-alpine
        container_name: streamer-db
        environment:
            POSTGRES_USER: ${DB_USER:-postgres}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
            POSTGRES_DB: ${DB_NAME:-streamer_tracker}
        # ports:
        #     - '5400:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - streamer-network
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres']
            interval: 5s
            timeout: 5s
            retries: 5

    # Node.js Server
    streamer-server:
        build: ./server
        container_name: streamer-server
        # ports:
        #     - '3000:3000'
        environment:
            - PORT=3000
            - DB_USER=${DB_USER:-postgres}
            - DB_PASSWORD=${DB_PASSWORD:-password}
            - DB_HOST=streamer-db
            - DB_NAME=${DB_NAME:-streamer_tracker}
            - DB_PORT=5432
            - NODE_ENV=production
        depends_on:
            streamer-db:
                condition: service_healthy
        networks:
            - streamer-network

    # Angular Client (Nginx)
    streamer-client:
        build: ./client
        container_name: streamer-client
        # ports:
        #     - '4200:80'
        networks:
            - streamer-network
    
    streamer-cloudflared:
        image: cloudflare/cloudflared:latest
        container_name: streamer-cloudflared
        command: tunnel --no-autoupdate run --token eyJhIjoiODUwYmVhYzdiNWQ4YzQwYTYxYzkxYTc5NWJkMzVkMmEiLCJ0IjoiNDhkMjI3NDMtMWRkYy00NjdjLWJhZTUtZWQyM2VjY2ExNGUxIiwicyI6IlkyVXpPVEpsWmpJdFltWTFZaTAwWXpjNUxUazFPV0V0WWpjMk9ETmlOV00xTURReCJ9
        depends_on:
            - streamer-server
            - streamer-client
            - streamer-db
        networks:
            - streamer-network

volumes:
    postgres_data:

networks:
    streamer-network:
        driver: bridge
